<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>

<h1>Spoon Fork Detector</h1>

{% if error %}
<p>{{ error }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <button type="submit">Upload</button>
</form>

{% if input_image %}
    <h3>Input:</h3>
    <img src="{{ input_image }}" width="300">
{% endif %}

{% if output_image %}
    <h3>Result:</h3>
    <img src="{{ output_image }}" width="300">
{% endif %}

</body>
</html>